<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Restaurante FGZ Reservas</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <meta name="_csrf" content="${_csrf.token}" />
  <meta name="_csrf_header" content="${_csrf.headerName}" />


  <link href="/img/favicon.png" rel="icon">
  <link href="/img/apple-touch-icon.png" rel="apple-touch-icon">
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/vendor/quill/quill.snow.css" rel="stylesheet">
  <link href="/vendor/quill/quill.bubble.css" rel="stylesheet">
  <link href="/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="/vendor/simple-datatables/style.css" rel="stylesheet">
  <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.14/index.global.min.js'></script>
  <link href="/css/style.css" rel="stylesheet">
</head>
<body>
  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">
    <div class="d-flex align-items-center justify-content-between">
      <a href=" " class="logo d-flex align-items-center">
        <span class="d-none d-lg-block">Restaurante FGZ</span>
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->
    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">
        <li class="nav-item">
          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
            <img src="/img/profile-img.jpg" alt="Profile" class="rounded-circle">
            <span class="d-none d-md-block dropdown-toggle ps-2" th:text="${appUser != null ? appUser.name : 'Usuario'}">K. Anderson</span>
          </a>
          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
            <li class="dropdown-header">
              <h6 th:text="${appUser != null ? appUser.name : 'Nombre de Usuario No Disponible'}"></h6>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li>
              <a class="dropdown-item d-flex align-items-center" href="/perfil">
                <i class="bi bi-person"></i>
                <span>Mi perfil</span>
              </a>
            </li>
            <li>
              <a class="dropdown-item d-flex align-items-center" href="/logout">
                <i class="bi bi-box-arrow-right"></i>
                <span>Cerrar sesión</span>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </header><!-- End Header -->

    <!-- ======= Sidebar ======= -->
    <aside id="sidebar" class="sidebar">
      <ul class="sidebar-nav" id="sidebar-nav">
        <li class="nav-item">
          <a class="nav-link " href="/admin-restaurante">
            <i class="bi bi-calendar-event"></i>
            <span>Reservados</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link collapsed" href="/estadisticas">
              <i class="bi bi-bar-chart"></i>
              <span>Estadísticas</span>
          </a>
      </li>
        <li class="nav-item">
          <a class="nav-link collapsed" href="/clientes">
            <i class="bi bi-people"></i>
            <span>Usuarios</span>
          </a>
        </li>
      </ul>
    </aside><!-- End Sidebar -->
  
  <main id="main" class="main">
    <section class="section dashboard">
      <div class="row">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Clientes</h5>
            <form th:action="@{/clientes}" method="get" id="searchForm">
              <input class="datatable-input" type="text" name="search" th:value="${search}" placeholder="Buscar por nombre">
          </form>
          <br><br>
          <table class="table table-striped">
              <thead>
                  <tr>
                      <th>Nombre</th>
                      <th>Apellido</th>
                      <th>Email</th>
                      <th>Teléfono</th>
                      <th>Activo</th>
                  </tr>
              </thead>
              <tbody>
                  <tr th:each="user : ${clientPage.content}">
                      <td th:text="${user.name}">John</td>
                      <td th:text="${user.lastname}">Doe</td>
                      <td th:text="${user.email}">john.doe@example.com</td>
                      <td th:text="${user.phone}">123456789</td>
                      <td>
                          <input type="checkbox" th:checked="${user.active}" th:onchange="'toggleActiveStatus(' + ${user.id} + ', this.checked)'" />
                      </td>
                  </tr>
              </tbody>
          </table>
          <br>
          <div>
              <span th:text="'Página ' + ${currentPage} + ' de ' + ${totalPages}">Página 1 de 10</span>
              <div>
                  <a th:if="${currentPage > 0}" th:href="@{/clientes(page=${currentPage - 1}, size=${size}, search=${search})}">Anterior</a>
                  <a th:if="${currentPage + 1 < totalPages}" th:href="@{/clientes(page=${currentPage + 1}, size=${size}, search=${search})}">Siguiente</a>
              </div>
          </div>
          </div>
        </div>
      </div>
    </section>
  </main>

  <footer id="footer" class="footer">
    <div class="credits">
      Designed by AMRdeveloper
    </div>
  </footer>

  <script>
  document.addEventListener('DOMContentLoaded', function() {
    // Obtener los tokens CSRF
    const csrfToken = document.querySelector('meta[name="_csrf"]').content;
    const csrfHeader = document.querySelector('meta[name="_csrf_header"]').content;

    // Función para cambiar el estado activo del usuario
    window.toggleActiveStatus = function(userId, isActive) {
      const confirmMessage = isActive ? 
        "¿Estás seguro de que quieres activar a este usuario?" :
        "¿Estás seguro de que quieres desactivar a este usuario?";
      if (confirm(confirmMessage)) {
        fetch('/usuarios/desactivar', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/x-www-form-urlencoded',
            [csrfHeader]: csrfToken
          },
          body: new URLSearchParams({ userId: userId, active: isActive })
        })
        .then(response => response.text())
        .then(data => {
          alert(data);
          location.reload();
        })
        .catch(error => console.error('Error:', error));
      }
    };
  });
</script>

  
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <script src="/vendor/apexcharts/apexcharts.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/vendor/chart.js/chart.umd.js"></script>
  <script src="/vendor/echarts/echarts.min.js"></script>
  <script src="/vendor/quill/quill.js"></script>
  <script src="/vendor/simple-datatables/simple-datatables.js"></script>
  <script src="/vendor/tinymce/tinymce.min.js"></script>
  <script src="/vendor/php-email-form/validate.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/5.10.1/locales/es.min.js"></script>
  <script src="/js/main.js"></script>
</body>
</html>
