<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Restaurante FGZ Reservas</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/img/favicon.png" rel="icon">
  <link href="/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/vendor/quill/quill.snow.css" rel="stylesheet">
  <link href="/vendor/quill/quill.bubble.css" rel="stylesheet">
  <link href="/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="/vendor/simple-datatables/style.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/css/style.css" rel="stylesheet">

  <style>
    /* Estilo básico para el spinner */
    #spinner {
      display: none;
      position: fixed;
      z-index: 1000;
      top: 50%;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, -50%);
    }
  </style>
</head>

<body>
  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">
    <div class="d-flex align-items-center justify-content-between">
      <a href="index.html" class="logo d-flex align-items-center">
        <span class="d-none d-lg-block">Restaurante FGZ</span>
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->

    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">
        <li class="nav-item">
          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
            <img src="/img/profile-img.jpg" alt="Profile" class="rounded-circle">
            <span class="d-none d-md-block dropdown-toggle ps-2" th:text="${appUser != null ? appUser.name : 'Usuario'}">K. Anderson</span>
          </a>
          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
            <li class="dropdown-header">
              <h6 th:text="${appUser != null ? appUser.name : 'Nombre de Usuario No Disponible'}"></h6>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li>
              <a class="dropdown-item d-flex align-items-center" href="/perfil">
                <i class="bi bi-person"></i>
                <span>Mi perfil</span>
              </a>
            </li>
            <li>
              <a class="dropdown-item d-flex align-items-center" href="/logout">
                <i class="bi bi-box-arrow-right"></i>
                <span>Cerrar sesión</span>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </header><!-- End Header -->

  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">
    <ul class="sidebar-nav" id="sidebar-nav">
      <li class="nav-item">
        <a class="nav-link " href="/reservas">
          <i class="bi bi-calendar-event"></i>
          <span>Reservar</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" href="/historial">
          <i class="bi bi-clock-history"></i>
          <span>Historial de reservas</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" href="/formulario">
          <i class="bi bi-envelope-fill"></i>
          <span>Contacto</span>
        </a>
      </li>
    </ul>
  </aside><!-- End Sidebar -->

  <main id="main" class="main">
    <section class="section dashboard">
      <div class="row">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Edite su reserva</h5>

            <!-- Mostrar mensaje de éxito si está presente -->
            <div th:if="${successMessage}" id="successAlert" class="alert alert-success alert-dismissible fade show" role="alert">
              <span th:text="${successMessage}"></span>
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>


            <form class="row g-3"th:action="@{/updateBooking}" id="formUpdate" th:object="${booking}" method="post">
                <input type="hidden" th:field="*{id}"/>

                <!-- Número de comensales (visible solo si text es null) -->
    <div class="row mb-3" th:if="${booking.text == null}">
      <label for="numComensales" class="col-sm-2 col-form-label">Número de comensales*</label>
      <div class="col-sm-10">
          <select class="form-select" id="numComensales" name="persons" aria-label="Default select example" required>
              <option selected disabled>Abra este menú desplegable</option>
              <option value="1">Uno</option>
              <option value="2">Dos</option>
              <option value="3">Tres</option>
              <option value="4">Cuatro</option>
              <option value="5">Cinco</option>
              <option value="6">Seis</option>
              <option value="7">Siete</option>
              <option value="8">Ocho</option>
              <option value="9">Nueve</option>
              <option value="10">Diez</option>
          </select>
      </div>
  </div>

  <!-- Campo de texto (visible solo si text no es null) -->
  <div class="row mb-3" th:if="${booking.text != null}">
      <label for="text" class="col-sm-2 col-form-label">Texto</label>
      <div class="col-sm-10">
          <textarea class="form-control" id="text" name="text" style="height: 100px" th:text="${booking.text}"></textarea>
      </div>
  </div>
                  <div class="row mb-3">
                      <label for="zone" class="col-sm-2 col-form-label">Zona*</label>
                      <div class="col-sm-10">
                          <select class="form-select" id="zone" name="zone" required>
                              <option selected disabled>Seleccione una zona</option>
                              <option value="Salon">Salón</option>
                              <option value="Terraza">Terraza</option>
                          </select>
                      </div>
                  </div>
                  
                  <div class="row mb-3">
                      <label for="date" class="col-sm-2 col-form-label">Fecha*</label>
                      <div class="col-sm-10">
                          <input type="date" class="form-control" id="date" name="date" required>
                      </div>
                  </div>
                  <div class="row mb-3">
                    <label for="time" class="col-sm-2 col-form-label">Hora*</label>
                    <div class="col-sm-10">
                        <select class="form-control" id="time" name="time" required>
                            <option th:each="horario : ${horarios}" th:value="${horario}" th:text="${horario}"></option>
                        </select>
                    </div>
                  </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary">Guardar cambios</button>
                    <button type="button" class="btn btn-secondary" onclick="goToHistorial()">Cancelar</button>
                  </div>
                
            </form>
            <div class="spinner-border text-info" role="status" id="spinner">
              <span class="visually-hidden">Loading...</span>
          </div>
          </div>
        </div>
      </div>
    </section>
  </main>

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="credits">
      Designed by AMRdeveloper
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="/vendor/apexcharts/apexcharts.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/vendor/chart.js/chart.umd.js"></script>
  <script src="/vendor/echarts/echarts.min.js"></script>
  <script src="/vendor/quill/quill.js"></script>
  <script src="/vendor/simple-datatables/simple-datatables.js"></script>
  <script src="/vendor/tinymce/tinymce.min.js"></script>
  <script src="/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="/js/main.js"></script>
  <script>
    function goToHistorial() {
        window.location.href = "/historial";
    }
  </script>

<script>
  function validateForm() {
      var dateInput = document.getElementById('date').value;

      var currentDate = new Date();
      var selectedDate = new Date(dateInput);

      // Verificar que la fecha no sea anterior a la fecha actual
      if (selectedDate < currentDate) {
          Swal.fire({
              icon: 'error',
              title: 'Error',
              text: 'Seleccione una fecha válida',
          });
          return false;
      }

      // Mostrar el spinner al enviar el formulario
      document.getElementById("spinner").style.display = "block";

      // Retrasar ligeramente el envío del formulario para asegurar que el spinner se muestre
      setTimeout(function() {
          document.getElementById("formUpdate").submit();
      }, 100);

      return true;
  }
</script>

    </script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha384-4aifDrl0o7C6JR+EQJv9WCyVzfV6b+KpNNlvX7Pyo7gGlmJ5Blh4Bf6QZ+J6ysbH" crossorigin="anonymous"></script>

  <!-- Bootstrap JS (opcional, si necesitas componentes de Bootstrap que requieren JS) -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
